* {
  box-sizing: border-box;
}

body {
  font-family: 'inter', sans-serif;
  background-color: #E1E1E1;
  margin: 0;
  padding: 0;
  min-width: 320px;
}

a {
  text-decoration: none;
  color: black;
}

/* Nav Bar */

nav {
  overflow: hidden;
  position: fixed;
  background-color: #1e1e1e;
  top: 0;
  width: 100%;
  min-width: 305px;
}

.nav-container {
  display: flex;
  margin: auto;
  max-width: 1200px;
  justify-content: center;
  align-items: center;
}

#dice-logo {
  max-height: 2.5rem;
  margin: 0.5rem 2rem 0.5rem 1rem;
}

#dice-logo:hover {
  cursor: pointer;
}

/* Nav Links */

.navlinks-container {
  display: flex;
  height: 3.5rem;
}

.navlink {
  text-decoration: none;
  color: white;
  line-height: 3.5rem;
  padding-right: 1rem;
  padding-left: 1rem;
  transition-duration: 0.3s;
}

.navlink:hover {
  background-color: #2e2e2e;
  opacity: 90%;
  cursor: pointer;
  transition-duration: 0.3s;
}

.active {
  background-color: #2e2e2e;
}

.signout {
  margin-left: auto;
  margin-top: 0;
}

/* Nav Search Bar */

.nav-search {
  margin-left: 1rem;
}

.nav-search input {
  float: left;
  padding: 0.48rem;
  border: none;
  border-radius: 5px 0 0 5px;
}

.nav-search select {
  background-color: #EFEFEF;
  float: left;
  padding: 0.4rem;
  border: none;
}

.nav-search button {
  background-color: #EFEFEF;
  float: left;
  padding: 0.48rem;
  border: none;
  border-left: 1px solid #cecece;
  border-radius: 0 5px 5px 0;
}

/* Nav Mobile Styling */

.mobile {
  display: none;
}

@media (min-width: 969px) {
  .desktop {
    display: flex;
  }
  .mobile {
    display: none;
  }
}

@media (max-width: 968px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: flex;
  }
  .nav-container {
    justify-content: space-between;
  }
  #dice-logo {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  .nav-search select {
    border-radius: 0 5px 5px 0;
  }
  .nav-search button {
    display: none;
  }

  /* Mobile dropdown functionality */

  .dropdown {
    overflow: hidden;
  }
  .dropdown .dropbtn {
    border: none;
    outline: none;
    color: white;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown-content {
    background-color: #3e3e3e;
    display: none;
    position: fixed;
    right: 0;
    z-index: 1;
  }
  .dropdown-content a {
    display: block;
    text-align: left;
  }

  /* Dropdown shop toggle */

  .show {
    display: block;
  }
}

/* Prevent search bar breaking to new line */

@media (max-width: 440px) {
  .nav-search input {
    width: 80px;
  }
  .nav-search {
    margin-left: 0.25rem;
  }
}


/* Common Page Styles */

.page-container {
  background-color: white;
  margin: 3.5rem auto 0 auto;
  max-width: 1200px;
  min-height: calc(100vh - 3.5rem);
  padding: 4rem;
}

@media (max-width: 768px) {
  .page-container {
    padding: 2rem;
  }
}

@media (max-width: 400px) {
  .page-container {
    padding: 1rem;
  }
}

/* Scroll Bar */

::-webkit-scrollbar {
  height: 0.5rem;
}

@media (min-width: 992px) {
  ::-webkit-scrollbar {
    height: 0;
  }
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Message Flashes */
.flash {
  margin: 3.5rem 0 -3.5rem 0;
  padding: 0.5rem;
  text-align: center;
  color: white;
  background-color: red;
}

.flash p {
  margin: 0;
}

/* Login Page */
.login-title {
  text-align: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 12rem;
  align-items: center;
  gap: 0.5rem;
}

.form-text {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid gray;;
  border-radius: 5px;
}

.form-text:focus {
  border: 1px solid blue;
  outline: none;
}

.form-button {
  background-color: #339DFF;
  width: 100%;
  font-family: 'inter', sans-serif;
  font-weight: 500;
  color: white;
  padding: 0.5rem;
  border: none;
  border-radius: 5px;
}

.form-button:hover {
  cursor: pointer;
  opacity: 90%;
}

.register {
  background-color: #e1e1e1;
  text-align: center;
  font-size: 0.84rem;
  font-weight: 400;
  color: black;
}

/* Home & Game Page */
/* Header */

.main-img {
  max-width: 15rem;
  height: 100%;
  margin-right: 2rem;
  border-radius: 5px;
}

.header {
  display: flex;
}

.header-info {
  width: 100%;
}

.gamepage-info {
  display: flex;
  justify-content: space-between;
}

.gamepage-info::after {
  content: "";
}

.game-info-container {
  display: flex;
  flex-direction: column;
}

.head-name {
  margin: 0 0 1.5rem 0;
}

.head-stats {
  margin: 0 0 1rem 0;
}

.overlay-title {
  margin: 0 0 1rem 0;
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5); /* Black background with opacity */
  z-index: 2;
}

.overlay-container {
  padding: 2rem;
  background: white;
  width: 320px;
  border-radius: 2px;
}

.select-block {
  padding: 0.5rem;
  margin-bottom: 1rem;
  width: 100%;
  border-radius: 5px;
  background-color: #F1F1F1;
}

.textarea {
  margin-bottom: 1rem;
  width: 100%;
  height: 5rem;
  resize: none;
  font-family: 'inter', sans-serif;
}

.record {
  display: block;
  width: 100%;
  margin-bottom: 0.5rem;
}

.add {
  background-color: #41a6a1;
}

.remove {
  background-color: red;
}

hr {
  margin: 2rem 0;
  border: 2px solid #e1e1e1;
  border-radius: 2px;
}

@media (max-width: 820px) {
  .header {
    flex-direction: column;
    align-items: center;
  }
  .main-img {
    max-width: 15rem;
    margin: auto;
  }
  .head-username {
    text-align: center;
  }
  .head-name {
    margin: 1.5rem 0 0 0;
    text-align: center;
  }
  .info-container {
    gap: 2rem;
  }
  .gamepage-info {
    justify-content: space-around;
  }
  .gamepage-info::before {
    content: "";
  }
}

@media (max-width: 560px) {
  .gamepage-info {
    flex-direction: column;
    align-items: center;
    gap: 1rem;
  }
  .gamepage-info::before {
    content: none;
  }
  .gamepage-info::after {
    content: none;
  }
}

@media (max-width: 400px) {
  .header {
    font-size: 0.8rem;
  }
}

/* Common Feature Styles */

.feature-title {
  margin-bottom: 0.5rem;
}

/* Home Play Log */

.components {
  display: flex;
  gap: 1rem;
  overflow-x: scroll;
  flex-shrink: 0;
}

.component-container {
  background-color: #e1e1e1;
  min-width: 10rem;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.component-container:hover {
  cursor: pointer;
  opacity: 90%;
  transition-duration: 0.3s;
}

.component-container img {
  width: 100%;
  border-radius: 5px 5px 0 0;
}

.feature-component-title {
  margin: 0.5rem;
}

.feature-component-text {
  margin: 0.5rem;
  font-size: 0.8rem;
}

/* Common Page Styles */

.page-content-container {
  margin-top: 1rem;
}

.page-title {
  margin: 0;
}

.page-subtitle {
  margin-top: 2rem;
}

.alt-head {
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.alt-hr {
  margin: 1rem 0;
}

.button {
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  padding: 1rem;
  transition-duration: 0.3s;
}

.btn-strong {
  font-family: "inter", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.btn-remove {
  background-color: red;
}

#add-game {
  margin: auto auto 0 0;
}

@media (max-width: 768px) {
  #add-game {
    margin: auto;
  }
}

.button:hover {
  opacity: 90%;
  transition-duration: 0.3s;
}

.tile-link-decoration {
  text-decoration: none;
  color: black;
}

/* Collection Page and Friends Page */

.tiles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.tiles::after {
  content: "";
  min-width: 14.5rem;
}

@media (max-width: 875px) {
  .tiles {
    justify-content: flex-start;
  }
}

@media (max-width: 562px) {
  .tiles {
    justify-content: center;
  }
}

.tile-container {
  padding: 0.25rem 0.25rem 0 0.25rem;
  background-color: #e1e1e1;
  border-radius: 5px;
  transition-duration: 0.3s;
  overflow: hidden;
}

.tile-container:hover {
  cursor: pointer;
  opacity: 90%;
  transition-duration: 0.3s;
}

.tile-image-container {
  display: grid;
  height: 100%;
}

.tile-image {
  margin: auto;
  width: auto;
  height: auto;
  border-radius: 5px 5px 0 0;
}

.tile-title {
  text-align: center;
  align-self: flex-end;
}

/* Friend Accept/Decline Buttons */

.request-usertile-container {
  max-width: 225px;
  background-color: #e1e1e1;
  border-radius: 5px 5px 0 0;
  transition-duration: 0.3s;
  flex: 1;
  padding-bottom: 0.25rem;
}

.request-usertile-container:hover {
  cursor: pointer;
  opacity: 90%;
}

.request-tile-title {
  margin: 0.5rem 0;
  text-align: center;
}

.friend-response-container {
  display: flex;
}

.friend-response {
  border: none;
  color: white;
  padding: 0.5rem;
  width: 100%;
}

.accept {
  background-color: green;
  border-radius: 0 0 0 5px;
}

.accept:hover {
  opacity: 90%;
  cursor: pointer;
}

.reject {
  background-color: red;
  border-radius: 0 0 5px 0;
}

.reject:hover {
  opacity: 90%;
  cursor: pointer;
}

/* Play Log Page */

.hr-tile-container {
  display: grid;
  grid-template-areas:
    "img ta tb tc td caret"
    "img ia ib ic id caret";
  grid-template-columns: 8rem 2fr 1fr 0.75fr 0.75fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 1rem;
  width: 100%;
  height: 128px;
  margin-bottom: 0.5rem;
  background-color: #e1e1e1;
  border-radius: 5px;
  transition-duration: 0.3s;
}

.hr-tile-container:hover {
  cursor: pointer;
  filter: brightness(105%);
  transition-duration: 0.3s;
}

.hr-tile-container img {
  grid-area: img;
  justify-self: center;
  align-self: center;
  max-height: 8rem;
  max-width: 128px;
  border-radius: 5px 0 0 5px;
}

.title {
  align-self: flex-end;
  margin: 0.2rem 0;
}

.info {
  align-self: flex-start;
  margin: 0.2rem 0;
}

/* Grid Area Classes */

.ta {
  grid-area: ta;
  margin-right: 2rem;
}

.tb {
  grid-area: tb;
}

.tc {
  grid-area: tc;
}

.td {
  grid-area: td;
}

.ia {
  grid-area: ia;
}

.ib {
  grid-area: ib;
}

.ic {
  grid-area: ic;
}

.id {
  grid-area: id;
}

/* Arrow Caret */

.caret {
  grid-area: caret;
  align-self: center;
  width: 0;
  height: 0;
  display: inline-block;
  border: 1.2rem solid transparent;
  border-radius: 5px;
}
.caret.right{
  justify-self: end;
  border-left-color: black;
}

@media (max-width: 800px) {
  .hr-tile-container {
    grid-template-areas: 
    "img ta tb tc caret"
    "img ia ib ic caret";
    grid-template-columns: 8rem 3fr 100px 100px 1fr;
  }
  .td {
    display: none;
  }
  .id {
    display: none;
  }
}

@media (max-width: 680px) {
  .hr-tile-container {
    grid-template-areas: 
    "img ta tb caret"
    "img ia ib caret";
    grid-template-columns: 8rem 3fr 100px 1fr;
  }
  .ta {
    margin-right: 1rem;
  }
  .tc {
    display: none;
  }
  .ic {
    display: none;
  }
}

@media (max-width: 540px) {
  .hr-tile-container {
    grid-template-areas: 
    "img ta caret"
    "img info caret";
    grid-template-columns: 8rem 3fr 1fr;
    grid-template-rows: auto auto;
  }
  .info {
    grid-area: info;
    margin: 0;
  }
  .tb {
    display: none;
  }
  .ib {
    display: none;
  }
  .caret {
    border: 1rem solid transparent;
    border-left-color: black;
    justify-self: auto;
  }
}