{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block scripts %}

    <script>
        var req = new XMLHttpRequest();
        req.open("GET", "https://www.boardgamegeek.com/xmlapi2/search?query=cat&type=boardgame,boardgameexpansion", false);
        req.send(null);
    </script>

{% endblock %}

{% block main %}
    <h1>My Website Updated</h1>
    <div id="catanName"></div>
        
    <!-- This script could be exported to a JS file? -->
    <script>
        var parser, xmlDoc;
        // Pass response text of request to 'text'
        var text = req.responseText;
        
        // Create a new DOMparser
        parser = new DOMParser();
        // Parse the xml text into an xml document
        xmlDoc = parser.parseFromString(text, "text/xml");
        console.log(xmlDoc)

        // catanName = document.getElementById("catanName");
        // catanName.innerHTML = xmlDoc.getElementsByTagName("description")[0].innerHTML;

        // console.log(items)
    </script>

{% endblock %}