{% extends "layout.html" %}
{% block title %}User's Collection{% endblock %}


{% block scripts %}
{% endblock %}

{% block main %}
    <h2 class="page-title">Collection</h2>
    <hr class="alt-hr">
    <div class="collection-tiles">
        <div class="collection-tile-container">
            <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}">
            <h5 class="tile-title">Spirit Island</h5>
        </div>
        <div class="collection-tile-container">
            <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}">
            <h5 class="tile-title">Spirit Island</h5>
        </div>
        <div class="collection-tile-container">
            <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}">
            <h5 class="tile-title">Spirit Island</h5>
        </div>
        <div class="collection-tile-container">
            <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}">
            <h5 class="tile-title">Spirit Island</h5>
        </div>
        <div class="collection-tile-container">
            <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}">
            <h5 class="tile-title">Spirit Island</h5>
        </div>
        <div class="collection-tile-container">
            <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}">
            <h5 class="tile-title">Spirit Island</h5>
        </div>
        <div class="collection-tile-container">
            <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}">
            <h5 class="tile-title">Spirit Island</h5>
        </div>
        <div class="collection-tile-container">
            <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}">
            <h5 class="tile-title">Spirit Island</h5>
        </div>
    </div>
{% endblock %}