{% extends "layout.html" %}
{% block title %}Your Friends{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="./static/json/functions.js"></script>
{% endblock %}

{% block main %}
    <div class="alt-head">
        <h2 class="page-title">Friends</h2>
        <!-- <a class="button btn-add">Record Session</a> -->
    </div>
    <hr class="alt-hr">
    <div class="tiles">
        {% for friend in friends %}
        <a href="/?username={{ friend['username'] }}">
            <div class="tile-container">
                <img class="tile-image" src="{{ url_for('static', filename=friend['iconPath']) }}">
                <h5 class="tile-title">{{ friend['username'] }}</h5>
            </div>
        </a>
        {% endfor %}
    </div>
    <h2 class="page-subtitle">Pending Requests</h2>
    <hr class="alt-hr">
    <div class="tiles">
        {% for user in received %}
            <div class="request-tile">
                <a href="/?username={{ user['username'] }}">
                    <div class="request-usertile-container">
                        <img class="tile-image" src="{{ url_for('static', filename=user['iconPath']) }}">
                        <h5 class="request-tile-title">{{ user['username'] }}</h5>
                    </div>
                </a>
                <div class="friend-response-container">
                    <button type="button" class="friend-response accept" onclick="updateFriend('accept', '{{ user["username"] }}')">Accept</button>
                    <button type="button" class="friend-response reject" onclick="updateFriend('remove', '{{ user["username"] }}')">Reject</button>
                </div>
            </div>
        {% endfor %}
        {% for user in requested %}
            <div class="request-tile">
                <a href="/?username={{ user['username'] }}">
                    <div class="request-usertile-container">
                        <img class="tile-image" src="{{ url_for('static', filename=user['iconPath']) }}">
                        <h5 class="request-tile-title">{{ user['username'] }}</h5>
                    </div>
                </a>
                <div class="friend-response-container">
                    <button type="button" class="friend-response reject" onclick="updateFriend('remove', '{{ user["username"] }}')">Cancel Request</button>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}


<button onclick="updateFriend('remove', '{{ username }}')" class="button remove btn-strong">Remove Friend</button>

<button onclick="updateFriend('remove', '{{ username }}')" class="button remove btn-strong">Cancel Friend Request</button>

<button onclick="updateFriend('accept', '{{ username }}')" class="button add btn-strong">Accept Friend</button>
<button onclick="updateFriend('remove', '{{ username }}')" class="button remove btn-strong">Reject</button>

<button onclick="updateFriend('add', '{{ username }}')" class="button add btn-strong">Add Friend</button>
