{% extends "layout.html" %}

{% block title %}BGC Gamepage{% endblock %}

{% block scripts %}
<!-- If POST, request user query from BGG API -->
    <script>
        var req = new XMLHttpRequest();
        // Input query from user into API search string
        req.open("GET", "https://boardgamegeek.com/xmlapi2/thing?id={{gameId}}&stats=1", false);
        req.send(null);
    </script>
    <script type="text/javascript" src="./static/json/functions.js"></script>
{% endblock %}

{% block main %}
    <div id="overlay">
        <div id="overlay-container" class="overlay-container">
            <form action="/playlog" id="record" method="post">
                <h2 id="input-title" class="input-title">Record a session</h2>
                <select name="result" id="result" form="record" class="select-block">
                    <option value="Win">Win</option>
                    <option value="Loss">Loss</option>
                </select>
                <textarea form="record" name="notes" id="notes" class="textarea" maxlength="280" placeholder="Up to 280 characters"></textarea>
                <input type="hidden" id="record-id" name="id" value="{{ gameId }}">
                <input type="hidden" id="record-name" name="name" value="">
                <button type="submit" class="button record add btn-strong" type="submit">Submit</button>
                <button type="button" class="form-button record remove" onclick="overlayOff()">Close</button>
            </form>
        </div>
    </div>
    <div class="header">
        <img id="game-img" class="main-img">
        <div class="header-info">
            <h1 id="gameName" class="head-name">Game Name</h1>
            <div class="gamepage-info">
                <div class="info-left">
                    <p id="rating" class="header-stats">Rating:</p>
                    <p id="players" class="header-stats">Players:</p>
                    <p id="playtime" class="header-stats">Playtime:</p>
                    <form action="/gamepage?id={{ gameId }}" method="post">
                        <!-- Render button depending on if it's in collection -->
                        {% if inCollection %}
                            <button id="add-game" name="update_game" value="{{ gameId }}" class="button btn-remove btn-strong">Remove from Collection</button>
                        {% else %}
                            <button id="add-game" name="update_game" value="{{ gameId }}" class="button add btn-strong">Add to collection</button>
                        {% endif %}
                    </form>
                </div>
                <div class="info-right">
                    <p id="rating" class="header-stats">Total Plays:</p>
                    <p id="players" class="header-stats">Win Ratio:</p>
                    <p id="playtime" class="header-stats">Last Played:</p>
                    <button onclick="overlayOn()" class="button add btn-strong">Record Session</button>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <div>
        <h2 class="feature-title">Description</h2>
        <p id="description">Loading...</p>
    </div>
    <hr>
    <div>
        <h2 class="feature-title">Friends who own this game</h2>
            <div class="tiles">
                {% for friend in friends %}
                <a href="/?username={{ friend['username'] }}">
                    <div class="tile-container">
                        <img class="tile-image" src="{{ url_for('static', filename=friend['iconPath']) }}">
                        <h5 class="tile-title">{{ friend['username'] }}</h5>
                    </div>
                </a>
                {% endfor %}
            </div>
    </div>
    <script>
        // Parse XMLDoc
        var parser, xmlDoc;
        var text = req.responseText;

        parser = new DOMParser();

        xmlDoc = parser.parseFromString(text, "text/xml");
        boardGame = xmlDoc.getElementById({{gameId}});

        // Game Image
        try {
            var image = boardGame.getElementsByTagName("image")[0].innerHTML;
            var imageElement = document.getElementById("game-img");
            imageElement.setAttribute("src", image);
        } catch(error) {
            var imageElement = document.getElementById("game-img");
            imageElement.setAttribute("src", "https://upload.wikimedia.org/wikipedia/commons/c/c4/2-Dice-Icon.svg")
        }

        // Game Name
        var name = boardGame.getElementsByTagName("name")[0]
            .getAttribute("value");
        var nameElement = document.getElementById("gameName");
        gameName.innerHTML = name;
        var inputFormTitle = document.getElementById("input-title");
        inputFormTitle.innerHTML = `Record a session for ${name}`;
        var inputFormName = document.getElementById("record-name");
        inputFormName.value = name;

        // Rating
        var rating = boardGame.getElementsByTagName("statistics")[0]
            .getElementsByTagName("ratings")[0]
            .getElementsByTagName("average")[0]
            .getAttribute("value");
        var ratingElement = document.getElementById("rating");
        ratingElement.innerHTML = `${ratingElement.innerHTML} ${Math.round(rating * 10) / 10} / 10`;

        // Players
        var minPlayers = boardGame.getElementsByTagName("minplayers")[0]
            .getAttribute("value");
        var maxPlayers = boardGame.getElementsByTagName("maxplayers")[0]
            .getAttribute("value");
        var playersElement = document.getElementById("players");
        if (minPlayers == maxPlayers || minPlayers == 0 || maxPlayers == 0) {
            playersElement.innerHTML = `${playersElement.innerHTML} ${minPlayers}`;
        } else {
            playersElement.innerHTML = `${playersElement.innerHTML} ${minPlayers} - ${maxPlayers}`;
        }

        // Playtime
        var minTime = boardGame.getElementsByTagName("minplaytime")[0]
            .getAttribute("value");
        var maxTime = boardGame.getElementsByTagName("maxplaytime")[0]
            .getAttribute("value");
        var timeElement = document.getElementById("playtime");
        if (minTime == maxTime || minTime == 0 || maxTime == 0) {
            timeElement.innerHTML = `${timeElement.innerHTML} ${minTime} mins`;
        } else {
            timeElement.innerHTML = `${timeElement.innerHTML} ${minTime} - ${maxTime} mins`;
        }

        // Description
        var description = boardGame.getElementsByTagName("description")[0]
            .innerHTML;
        description = HTMLconvert(description);
        var descriptionElement = document.getElementById("description");
        descriptionElement.innerHTML = description;
    </script>
{% endblock %}