{% extends "layout.html" %}

{% block title %}Index{% endblock %}

{% block scripts %}
<!-- If POST, request user query from BGG API -->
    <script>
        var req = new XMLHttpRequest();
        // Input query from user into API search string
        req.open("GET", "https://boardgamegeek.com/xmlapi2/thing?id={{id}}", false);
        req.send(null);
    </script>
{% endblock %}

{% block main %}
    <h1 id="gameTitle"></h1>
    <a href="/">Return to homepage</a>
    <script>
        // Parse XMLDoc
        var parser, xmlDoc;
        var text = req.responseText;

        parser = new DOMParser();

        xmlDoc = parser.parseFromString(text, "text/xml");
        boardGame = xmlDoc.getElementById({{id}});
        console.log(boardGame)

        // Isolate gameTitle elements
        var gameTitleElement = document.getElementById("gameTitle");
        var gameTitle = boardGame.getElementsByTagName("name")[0].getAttribute("value");
        gameTitleElement.innerHTML = gameTitle;
    </script>
{% endblock %}