{% extends "layout.html" %}

{% block title %}Home{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="./static/json/functions.js"></script>
{% endblock %}

{% block main %}
    <div class="header">
        <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}" class="main-img">
        <div class="header-info">
            <div class="head-name-container">
                <h1 class="head-name">{{ username }}</h1>
                {% if not own_profile %}
                    <button onclick="updateFriend()" class="button add btn-strong">Add Friend</button>
                {% endif %}
            </div>
            <div class="gamepage-info">
                <div class="info-left">
                    <p class="header-stats">Collection Size: 00</p>
                    <p class="header-stats">Game Plays: 00</p>
                    <p class="header-stats">Unique Games Played: 00</p>
                </div>
                <div class="info-right">
                    <p class="header-stats">Wins: 00</p>
                    <p class="header-stats">Losses: 00</p>
                    <p class="header-stats">W/L Ratio: 00</p>
                </div>
            </div>
        </div>
    </div>
    <hr>
    <!-- Play Log -->
    <div class="feature-row">
        <h2 class="feature-title">Play Log</h2>
        <div class="components">
            {% if user_log %}
                {% for log in user_log %}
                    <div class="component-container">
                        <img src="{{ log['thumb'] }}">
                        <h5 class="feature-component-title">{{ log['name'] }}</h5>
                        <p class="feature-component-text">{{ log['time'] }}</p>
                        <p class="feature-component-text">Result: {{ log['result'] }}</p>
                    </div>
                {% endfor %}
                {% else %}
                    <div class="component-container">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c4/2-Dice-Icon.svg">
                        <h5 class="feature-component-title">Nothing here</h5>
                        <p class="feature-component-text">Nothing here</p>
                        <p class="feature-component-text">Nothing here</p>
                    </div>
            {% endif %}
        </div>
    </div>
    <!-- Collection -->
    <div class="feature-row">
        <h2 class="feature-title">Collection</h2>
        <div class="components">
            {% if collection %}
                {% for game in collection %}
                    <div class="component-container">
                        <img src="{{ game['thumb'] }}">
                        <h5 class="feature-component-title">{{ game['name'] }}</h5>
                    </div>
                {% endfor %}
                {% else %}
                    <div class="component-container">
                        <img src="https://upload.wikimedia.org/wikipedia/commons/c/c4/2-Dice-Icon.svg">
                        <h5 class="feature-component-title">Nothing here</h5>
                        <p class="feature-component-text">Nothing here</p>
                        <p class="feature-component-text">Nothing here</p>
                    </div>
            {% endif %}
        </div>
    </div>
    <!-- Friends -->
    <div class="feature-row">
        <h2 class="feature-title">Friends</h2>
        <div class="components">
            <div class="component-container">
                <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}">
                <h5 class="feature-component-title">Spirit Island</h5>
            </div>
            <div class="component-container">
                <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}">
                <h5 class="feature-component-title">Spirit Island</h5>
            </div>
            <div class="component-container">
                <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}">
                <h5 class="feature-component-title">Spirit Island</h5>
            </div>
            <div class="component-container">
                <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}">
                <h5 class="feature-component-title">Spirit Island</h5>
            </div>
            <div class="component-container">
                <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}">
                <h5 class="feature-component-title">Spirit Island</h5>
            </div>
        </div>
    </div>
{% endblock %}