{% extends "layout.html" %}
{% block title %}User's Play Log{% endblock %}


{% block scripts %}
{% endblock %}

{% block main %}
    <div class="alt-head">
        <h2 class="page-title">Play Log</h2>
    </div>
    <hr class="alt-hr">
    <div class="page-content-container">
        <div class="hr-tile-container">
            <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}">
            <h4 class="title ta">Spirit Island asd asd</h4>
            <p class="info ia">1 day ago</p>
            <h4 class="title tb">Result</h4>
            <p class="info ib">Win</p>
            <h4 class="title tc">Playtime</h4>
            <p class="info ic">02:38</p>
            <h4 class="title td">Game No.</h4>
            <p class="info id">9</p>
            <span class="caret right"></span>
        </div>
        <div class="hr-tile-container">
            <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}">
            <h4 class="title ta">Spirit Island asd asd</h4>
            <p class="info ia">1 day ago</p>
            <h4 class="title tb">Result</h4>
            <p class="info ib">Win</p>
            <h4 class="title tc">Playtime</h4>
            <p class="info ic">02:38</p>
            <h4 class="title td">Game No.</h4>
            <p class="info id">9</p>
            <span class="caret right"></span>
        </div>
        <div class="hr-tile-container">
            <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}">
            <h4 class="title ta">Spirit Island asd asd</h4>
            <p class="info ia">1 day ago</p>
            <h4 class="title tb">Result</h4>
            <p class="info ib">Win</p>
            <h4 class="title tc">Playtime</h4>
            <p class="info ic">02:38</p>
            <h4 class="title td">Game No.</h4>
            <p class="info id">9</p>
            <span class="caret right"></span>
        </div>
        <div class="hr-tile-container">
            <img src="{{ url_for('static', filename='img/spirit-island.jpg') }}">
            <h4 class="title ta">Spirit Island asd asd</h4>
            <p class="info ia">1 day ago</p>
            <h4 class="title tb">Result</h4>
            <p class="info ib">Win</p>
            <h4 class="title tc">Playtime</h4>
            <p class="info ic">02:38</p>
            <h4 class="title td">Game No.</h4>
            <p class="info id">9</p>
            <span class="caret right"></span>
        </div>
    </div>
{% endblock %}