{% extends "layout.html" %}
{% block title %}User's Play Log{% endblock %}


{% block scripts %}
    <script type="text/javascript" src="./static/json/functions.js"></script>
{% endblock %}

{% block main %}
    <div id="overlay">
        <div id="overlay-container" class="overlay-container">
            <form action="/playlog" id="record" method="post">
                <h3>Game Played</h3>
                <p id="overlay-game">dd/mm/yyyy</p>
                <h3>Date</h3>
                <p id="overlay-date">dd/mm/yyyy</p>
                <h3>Result</h3>
                <p id="overlay-result">Win</p>
                <h3>Game Notes</h3>
                <p id="overlay-note">None</p>
                <button type="button" onclick="overlayOff()" class="button record add btn-strong">Close</button>
                <form action="/playlog" method="post">
                    <button type="submit" name="action" value="delete" class="form-button record remove btn-strong">Delete</button>
                    <input type="hidden" id="tile-id" name="id">
                </form>
            </form>
        </div>
    </div>
    <div class="alt-head">
        <h2 class="page-title">Play Log</h2>
    </div>
    <hr class="alt-hr">
    <div class="page-content-container">
        {% if user_log == 0 %}
            <p>No games logged. Search a game and record a session to fill your playlog!</p>
        {% else %}
            {% for entry in user_log %}
            <div onclick="playOverlayOn({{entry}})" id="{{ entry['id'] }}" class="hr-tile-container">
                <img src="{{ entry['thumb'] }}">
                <h4 class="title ta">{{ entry['name'] }}</h4>
                <p class="info ia">{{ entry['time'] }}</p>
                <h4 class="title tb">Result</h4>
                <p class="info ib">{{ entry['result'] }}</p>
                <span class="caret right"></span>
            </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}