{% extends "layout.html" %}
{% block title %}User's Play Log{% endblock %}


{% block scripts %}
{% endblock %}

{% block main %}
    <div class="alt-head">
        <h2 class="page-title">Play Log</h2>
    </div>
    <hr class="alt-hr">
    <div class="page-content-container">
        {% if user_log == 0 %}
            <p>No games logged. Search a game and record a session to fill your playlog!</p>
        {% else %}
            {% for entry in user_log %}
            <div class="hr-tile-container">
                <img src="{{ entry['thumb'] }}">
                <h4 class="title ta">{{ entry['name'] }}</h4>
                <p class="info ia">{{ entry['time'] }}</p>
                <h4 class="title tb">Result</h4>
                <p class="info ib">{{ entry['result'] }}</p>
                <span class="caret right"></span>
            </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}