{% extends "layout.html" %}

{% block title %}BGC Search{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="./static/json/functions.js"></script>
{% endblock %}

{% block main %}
    <h1 id="title">Results</h1>
    <hr class="alt-hr">
    <div id="page-content-container">
        <p id="status-line">Loading...</p>
    </div>
    <script>
        // Input query from user into API
        var req = new XMLHttpRequest();
        req.open("GET", "https://boardgamegeek.com/xmlapi2/search?type=boardgame&query={{query}}", false);
        req.send(null);

        // Parse XML response
        var parser, xmlDoc;
        var text = req.responseText;

        parser =  new DOMParser();

        xmlDoc = parser.parseFromString(text, "text/xml");

        // Get results and number of results to loop through
        num_results = xmlDoc.getElementsByTagName("item").length;
        results = xmlDoc.getElementsByTagName("item");

        // Return feedback if no results, or remove "loading" if there are results
        if (num_results == 0) {
            tempDiv = document.getElementById("status-line");
            tempDiv.innerHTML = `No results found for "{{ query }}"`;
        } else {
            tempDiv = document.getElementById("status-line");
            tempDiv.remove();
        }

        // Prepare ID string to insert into next API search
        var gameApis = [];
        for (let i = 0; i < num_results; i++) {
            gameApis.push(`https://boardgamegeek.com/xmlapi2/thing?id=${results[i].getAttribute("id")}&stats=1`);
        }

        var results_per_page = 7
        var game_results = []

        // Calculate where to iterating through results according to page number
        startList = ({{ page }} * results_per_page) - results_per_page

        // Wrap in setTimeout(10) to give initial API request a moment to return before continuing
        setTimeout(function(){
            // Loop through IDs in gameApis. Make an API request for each one, for more detailed info on each game
            // Too many requests in too short a time will cause BGG to begin rejecting requests. I should create pages for every 10 results. Error code 429 = too many requests
            for (let i = startList; (i < gameApis.length) && (game_results.length < results_per_page); i++) {
                try {
                    var newReq = new XMLHttpRequest();
                    newReq.open("GET", `${gameApis[i]}`, false)
                    newReq.send(null)
    
                    var newParser, newXmlDoc;
                    var newText = newReq.responseText;
    
                    newParser = new DOMParser();
    
                    newXmlDoc = newParser.parseFromString(newText, "text/xml");
    
                    // Check result is a base boardgame
                    if (newXmlDoc.getElementsByTagName("item")[0].getAttribute("type") != "boardgame") {
                        continue;
                    }
                    
                    // Push parsed XML to game_results array
                    game_results.push(newXmlDoc);
                }
                catch(error) {
                    window.location.replace(`/catchapi?query={{ query }}&page={{ page }}`)
                    break;
                }
            };

            // If gone past final result using 'next' button and no games remaining, redirect to previous page
            if (game_results.length == 0 && {{ page }} != 1) {
                changePage("prev", "{{ query }}", "{{ page }}")
            }
        
            // Select prepared search-results div
            search_results = document.getElementById("page-content-container");
            
            // Loop through game results
            // Create and append a tile to page-content-container for each game
            for (game of game_results) {
                // Anchor tag for link to game page
                var gameLink = document.createElement("a");
                gameLink.classList.add("tile-link-decoration");
                id = game.getElementsByTagName("item")[0].getAttribute("id");
                gameLink.setAttribute("href", `/gamepage?id=${id}`)

                // Tile container div
                var tempDiv = document.createElement("div");
                tempDiv.classList.add("hr-tile-container");

                // Game image
                var tempImg = document.createElement("img");
                if (game.getElementsByTagName("image").length != 0) {
                    var image = game.getElementsByTagName("image")[0].innerHTML;
                    tempImg.setAttribute("src", `${image}`)
                } else {
                    tempImg.setAttribute("src", "https://upload.wikimedia.org/wikipedia/commons/c/c4/2-Dice-Icon.svg")
                }
                tempDiv.appendChild(tempImg);

                // Game title
                var tempTitle1 = document.createElement("h4");
                tempTitle1.classList.add("title", "ta")
                tempTitle1.innerHTML = game.getElementsByTagName("name")[0].getAttribute("value");
                tempDiv.appendChild(tempTitle1);

                var tempInfo1 = document.createElement("p");
                tempInfo1.classList.add("info", "ia")
                tempInfo1.innerHTML = game.getElementsByTagName("yearpublished")[0].getAttribute("value");
                tempDiv.appendChild(tempInfo1);

                // Game Rating
                var tempTitle2 = document.createElement("h4");
                tempTitle2.classList.add("title", "tb")
                tempTitle2.innerHTML = "Rating";
                tempDiv.appendChild(tempTitle2);

                var tempInfo2 = document.createElement("p");
                tempInfo2.classList.add("info", "ib")
                rating = game.getElementsByTagName("statistics")[0]
                    .getElementsByTagName("ratings")[0]
                    .getElementsByTagName("average")[0]
                    .getAttribute("value");
                tempInfo2.innerHTML = Math.round(rating * 10) / 10;
                tempDiv.appendChild(tempInfo2);

                // Game Playtime
                var tempTitle3 = document.createElement("h4");
                tempTitle3.classList.add("title", "tc")
                tempTitle3.innerHTML = "Playtime";
                tempDiv.appendChild(tempTitle3);

                var tempInfo3 = document.createElement("p");
                tempInfo3.classList.add("info", "ic")
                var minTime = game.getElementsByTagName("minplaytime")[0].getAttribute("value");
                var maxTime = game.getElementsByTagName("maxplaytime")[0].getAttribute("value");
                if (minTime == maxTime || minTime == 0 || maxTime == 0) {
                    tempInfo3.innerHTML = `${minTime} mins`;
                } else {
                    tempInfo3.innerHTML = `${minTime} - ${maxTime} mins`;
                }
                tempDiv.appendChild(tempInfo3);

                // Game Player Count
                var tempTitle4 = document.createElement("h4");
                tempTitle4.classList.add("title", "td")
                tempTitle4.innerHTML = "Players";
                tempDiv.appendChild(tempTitle4);

                var tempInfo4 = document.createElement("p");
                tempInfo4.classList.add("info", "id")
                var minPlayers = game.getElementsByTagName("minplayers")[0].getAttribute("value");
                var maxPlayers = game.getElementsByTagName("maxplayers")[0].getAttribute("value");
                if (minPlayers != maxPlayers) {
                    tempInfo4.innerHTML = `${minPlayers} - ${maxPlayers}`;
                } else {
                    tempInfo4.innerHTML = `${minPlayers}`;
                }
                tempDiv.appendChild(tempInfo4);

                // Caret
                var tempCaret = document.createElement("span");
                tempCaret.classList.add("caret", "right");
                tempDiv.appendChild(tempCaret);

                // Append final div to search_results div and remove 'loading'
                gameLink.appendChild(tempDiv);
                search_results.appendChild(gameLink);

                // If no results, inform user and remove 'loading'
                if (game_results.length == 0) {
                    newElement = document.createElement("p");
                    newElement.innerHTML = "No matching boardgames found.";
                    document.getElementById("page-content-container").appendChild(newElement)
                    document.getElementById("loading").remove()
                }
            }
        
            // If there are more than 5 results, render "Next/Prev" page buttons
            if (num_results > 5) {

                var prevButton = document.createElement("button");
                prevButton.innerHTML = "Prev Page";
                prevButton.setAttribute("onclick", "changePage('prev', '{{ query }}', {{ page }})");
                document.getElementById("page-content-container").appendChild(prevButton);
    
                var nextButton = document.createElement("button");
                nextButton.innerHTML = "Next Page";
                nextButton.setAttribute("onclick", "changePage('next', '{{ query }}', {{ page }})");
                document.getElementById("page-content-container").appendChild(nextButton);
            }
        }, 10)
    </script>
{% endblock %}