{% extends "layout.html" %}

{% block title %}BGC User Search{% endblock %}

{% block main %}
    <h1>Results</h1>
    <hr class="alt-hr">
    <div id="page-content-container">
        {% if users %}
            <div class="tiles">
                {% for user in users %}
                    <a href="/?username={{ user['user'] }}">
                        <div class="tile-container">
                            <img class="tile-image" src="{{ url_for('static', filename=user['iconPath']) }}">
                            <h5 class="tile-title">{{ user['user'] }}</h5>
                        </div>
                    </a>
                {% endfor %}
            </div>
        {% else %}
        <p>No matching users found.</p>
        {% endif %}
    </div>
{% endblock %}